@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: calc(0.65em + 0.7vh);
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  padding: 1.5%;
  display: flex;
}
.header .logo {
  width: 7%;
  margin-right: 54%;
}
.header nav {
  width: 40%;
}
.header nav .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header nav .menu .menu_item {
  padding-top: 10px;
  margin-right: 10%;
}
.header nav .menu .menu_item a {
  color: #0065fc;
  font-size: 1.8em;
}
.header nav .menu .menu_item a:hover {
  padding-top: 1em;
  border-top: 2px solid #0065fc;
}
.header nav .menu .menu_item:last-of-type {
  margin-right: 0;
}

main {
  width: 100%;
  padding: 2%;
  /* .content_principal */
  /* activites */
}
main .main_title {
  width: 100%;
  /* title_principal */
  /* sub_title */
  /* сhercher */
  /* .main_filtres */
  /* .chercher__info */
}
main .main_title .title_principal {
  width: 100%;
  font-size: 2em;
  margin-bottom: 0.35em;
}
main .main_title .sub_title {
  width: 100%;
  color: #6e6e6e;
  font-weight: bold;
  font-size: 1.65em;
  margin-bottom: 1.5%;
}
main .main_title .сhercher {
  width: 30%;
  position: relative;
  margin-left: 1.8%;
  margin-bottom: 2.5%;
  /* i */
  /* input[type="text"] */
  /* input[type="text"]::placeholder */
  /* input[type="text"]:focus::placeholder */
  /* input[type="submit"] */
}
main .main_title .сhercher i {
  position: absolute;
  min-width: 35px;
  min-height: 35px;
  background-color: rgba(199, 197, 197, 0.3);
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  left: -34px;
  font-size: 1.2em;
}
main .main_title .сhercher input[type=text] {
  min-width: 150px;
  min-height: 34.9px;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-right: none;
  border-left: none;
  outline: none;
}
main .main_title .сhercher input[type=text]::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 7px;
  font-size: 1.2em;
}
main .main_title .сhercher input[type=text]:focus::placeholder {
  color: transparent;
}
main .main_title .сhercher input[type=submit] {
  position: absolute;
  min-width: 120px;
  min-height: 35px;
  background-color: #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  padding: 2px;
  font-size: 1.3em;
  cursor: pointer;
}
main .main_title .main_filtres {
  width: 100%;
  display: flex;
  margin-bottom: 3em;
  /* .filtres_txt */
  /* .filtres_item */
}
main .main_title .main_filtres .filtres_txt {
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 1.6em;
}
main .main_title .main_filtres .filtres_item {
  position: relative;
  width: 10%;
  display: flex;
  margin-right: 2em;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-radius: 15px;
  border-left: none;
  /* i */
}
main .main_title .main_filtres .filtres_item i {
  width: 30px;
  height: 30px;
  background: #77b0f1;
  border-radius: 50%;
  color: #0065fc;
  text-align: center;
  padding-top: 6px;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 20s;
}
main .main_title .main_filtres .filtres_item i:active {
  background: rgba(110, 110, 100, 0.3);
  color: rgba(241, 25, 25, 0.835);
  transition: color 0s;
}
main .main_title .main_filtres .filtres_item p {
  font-size: 1.4em;
  padding-top: 5px;
  padding-left: 25px;
  font-weight: bold;
  text-align: center;
}
main .main_title .main_filtres .filtres_item .fa-dog + p {
  padding-left: 3px;
}
main .main_title .chercher__info {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}
main .main_title .chercher__info i {
  width: 20px;
  height: 20px;
  font-size: 1em;
  margin-right: 1.2%;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-radius: 50%;
  text-align: center;
  color: #0065fc;
  padding-top: 3px;
}
main .main_title .chercher__info p {
  padding-top: 3px;
  color: #666664;
  font-weight: bold;
  font-size: 1.2em;
}
main .content_principal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2.5%;
  /* .principal_hebergement */
  /* .principal_Populaires */
}
main .content_principal .principal_hebergement {
  width: 72%;
  background-color: #f2f2f2;
  padding: 1%;
  border-radius: 25px;
  /* .info_wrap */
}
main .content_principal .principal_hebergement h2 {
  width: 25%;
  margin-left: 1.5%;
  margin-bottom: 1.7%;
  font-size: 1.7em;
}
main .content_principal .principal_hebergement .info_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5%;
  /* .hebergement_info */
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info {
  width: 24%;
  margin-right: 2%;
  border: 3px solid #fff;
  margin-bottom: 2%;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt {
  width: 100%;
  padding: 1.5%;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt h3 {
  font-size: 1.7em;
  margin-bottom: 3%;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt p {
  font-size: 1.3em;
  margin-bottom: 3%;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt p a span {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt span {
  color: #0065fc;
  cursor: pointer;
  font-size: 1.3em;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info .hebergement_wrapTxt .grey {
  color: #f2f2f2;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info:active {
  box-shadow: none;
  top: 2px;
  position: relative;
}
main .content_principal .principal_Populaires {
  width: 25%;
  background-color: #f2f2f2;
  padding: 1.5%;
  border-radius: 25px;
  /* .wrap_titlePopulaire */
  /* .wrap_populaireItems */
}
main .content_principal .principal_Populaires .wrap_titlePopulaire {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9%;
}
main .content_principal .principal_Populaires .wrap_titlePopulaire .populaires_title {
  margin-right: 10%;
}
main .content_principal .principal_Populaires .wrap_titlePopulaire h2 {
  font-size: 1.7em;
}
main .content_principal .principal_Populaires .wrap_titlePopulaire i {
  font-size: 1.4em;
  padding-top: 5px;
}
main .content_principal .principal_Populaires .wrap_populaireItems {
  /* populaires_item */
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item {
  width: 100%;
  display: flex;
  margin-bottom: 10%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  /* item_info */
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item img {
  width: 100%;
  height: 137px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 3px solid #fff;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1.5%;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info h3 {
  font-size: 1.8em;
  margin-bottom: 1.2%;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info p {
  font-size: 1.6em;
  margin-bottom: 5%;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info p a span {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info span {
  color: #0065fc;
  cursor: pointer;
  font-size: 1.3em;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item .item_info .grey {
  color: #f2f2f2;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item:last-of-type {
  margin-bottom: 0;
}
main .content_principal .principal_Populaires .wrap_populaireItems .populaires_item:last-of-type img {
  width: 100%;
}
main .activites {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  /* activites_item */
  /* wrap_activites */
}
main .activites .activites_item {
  width: 50%;
  margin-right: 3.5%;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
main .activites .activites_item img {
  width: 100%;
  height: 504px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
main .activites .activites_item h3 {
  font-size: 1.8em;
  padding: 2.5%;
}
main .activites .activites_item:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
main .activites .wrap_activites {
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  margin-right: 3.5%;
}
main .activites .wrap_activites .activites_littleItem {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
main .activites .wrap_activites .activites_littleItem img {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
main .activites .wrap_activites .activites_littleItem h3 {
  font-size: 1.8em;
  padding: 2.5%;
}
main .activites .wrap_activites .activites_littleItem:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
main .activites .wrap_activites .activites_littleItem:first-child {
  margin-bottom: 9%;
}
main .activites .wrap_activites .activites_littleItem:first-child img {
  height: 200px;
}
main .activites .wrap_activites .activites_littleItem:last-child img {
  height: 194px;
}
main .activites .wrap_activites:last-child {
  margin-right: 0;
}
main .activites .wrap_activites:last-child .activites_littleItem:first-child {
  margin-bottom: 9%;
}
main .activites .wrap_activites:last-child .activites_littleItem:first-child img {
  height: 200px;
}
main .activites .wrap_activites:last-child .activites_littleItem:last-child img {
  height: 200px;
}

/* main */
footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  padding: 1.5%;
}
footer .aPropos,
footer .nosHebergements,
footer .assistance {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 15%;
}
footer .aPropos h3,
footer .nosHebergements h3,
footer .assistance h3 {
  font-size: 1.5em;
  padding-bottom: 0.8em;
}
footer .aPropos a,
footer .nosHebergements a,
footer .assistance a {
  font-size: 1.2em;
  padding-bottom: 0.9em;
}
footer .aPropos a:last-of-type,
footer .nosHebergements a:last-of-type,
footer .assistance a:last-of-type {
  padding-bottom: 0;
}
footer .assistance {
  margin-right: 0;
}
footer .assistance h3 {
  padding-bottom: 0.7em;
}
footer .assistance a {
  padding-bottom: 0.8em;
}
footer .assistance a:last-of-type {
  padding-bottom: 0;
}

/* footer */