@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  padding: 1.5em 2.5em 1.5em;
  display: flex;
}
.header .logo {
  width: 7%;
  margin-right: 60%;
}
.header nav {
  width: 40%;
}
.header nav .menu {
  display: flex;
  justify-content: flex-end;
}
.header nav .menu .menu_item {
  padding-top: 8px;
  margin-right: 17%;
}
.header nav .menu .menu_item a {
  color: #0065fc;
  font-size: 22px;
}
.header nav .menu .menu_item a:hover {
  padding-top: 30px;
  border-top: 2px solid #0065fc;
}
.header nav .menu .menu_item:last-of-type {
  margin-right: 0;
}

main {
  width: 100%;
  padding: 1.5em 2.5em 1.5em;
  /* title_principal */
  /* sub_title */
  /* сhercher */
  /* .main_filtres */
  /* .chercher__info */
  /* .content_principal */
  /* activites */
}
main .title_principal {
  width: 100%;
}
main .sub_title {
  width: 100%;
  color: #6e6e6e;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 0.5em;
}
main .сhercher {
  width: 30%;
  position: relative;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  /* i */
  /* input[type="text"] */
  /* input[type="text"]::placeholder */
  /* input[type="text"]:focus::placeholder */
  /* input[type="submit"] */
}
main .сhercher i {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgba(204, 200, 200, 0.3);
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  left: -34px;
  top: -0.5px;
}
main .сhercher input[type=text] {
  width: 150px;
  height: 34.9px;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-right: none;
  border-left: none;
  outline: none;
}
main .сhercher input[type=text]::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 5px;
}
main .сhercher input[type=text]:focus::placeholder {
  color: transparent;
}
main .сhercher input[type=submit] {
  position: absolute;
  width: 130px;
  height: 35px;
  background-color: #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  padding: 5px;
}
main .main_filtres {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
  /* .filtres_txt */
  /* .filtres_item */
}
main .main_filtres .filtres_txt {
  font-size: 18px;
  font-weight: bold;
  margin-right: 1%;
}
main .main_filtres .filtres_item {
  position: relative;
  width: 10%;
  display: flex;
  margin-left: 1%;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-radius: 15px;
  border-left: none;
  /* i */
}
main .main_filtres .filtres_item i {
  width: 25px;
  height: 25px;
  background-color: #77b0f1;
  border-radius: 50%;
  color: #0065fc;
  /* padding: 5px 2px 3px 4px; */
  font-size: 12px;
}
main .main_filtres .filtres_item .fa-money-bill-wave-alt {
  padding: 6px 3px 1px 4px;
}
main .main_filtres .filtres_item .fa-male {
  padding: 6px 2px 1px 10px;
}
main .main_filtres .filtres_item .fa-heart {
  padding: 6px 2px 1px 6px;
}
main .main_filtres .filtres_item .fa-dog {
  padding: 6px 2px 1px 6px;
}
main .main_filtres .filtres_item p {
  padding-top: 3px;
  padding-left: 25px;
}
main .main_filtres .filtres_item .fa-dog + p {
  padding-left: 3px;
}
main .chercher__info {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}
main .chercher__info i {
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-right: 1%;
  border: 1px solid rgba(110, 110, 100, 0.3);
  border-radius: 50%;
  text-align: center;
  color: #0065fc;
  padding-top: 3px;
}
main .chercher__info p {
  color: #666664;
  font-weight: bold;
}
main .content_principal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
  /* .principal_hebergement */
  /* .principal_Populaires */
}
main .content_principal .principal_hebergement {
  width: 72%;
  background-color: #f2f2f2;
  padding: 1.5%;
  border-radius: 25px;
  /* .info_wrap */
}
main .content_principal .principal_hebergement h2 {
  width: 25%;
  margin-left: 2.8%;
  margin-bottom: 1.2%;
}
main .content_principal .principal_hebergement .info_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2% 2% 2.9%;
  /* .hebergement_info */
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info {
  width: 24%;
  margin-right: 2%;
  border: 3px solid #fff;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 2%;
}
main .content_principal .principal_hebergement .info_wrap .hebergement_info img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
main .content_principal .principal_Populaires {
  width: 25%;
  background-color: #f2f2f2;
  padding: 1.5%;
  border-radius: 25px;
  /* .wrap_titlePopulaire */
  /* populaires_item */
}
main .content_principal .principal_Populaires .wrap_titlePopulaire {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
main .content_principal .principal_Populaires .wrap_titlePopulaire .populaires_title {
  margin-right: 25%;
}
main .content_principal .principal_Populaires .wrap_titlePopulaire i {
  padding-top: 11px;
}
main .content_principal .principal_Populaires .populaires_item {
  width: 100%;
  display: flex;
  margin-bottom: 13%;
  /* item_info */
}
main .content_principal .principal_Populaires .populaires_item img {
  width: 36%;
  height: 137px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 3px solid #fff;
}
main .content_principal .principal_Populaires .populaires_item .item_info {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.5%;
}
main .content_principal .principal_Populaires .populaires_item:last-of-type {
  margin-bottom: 0;
}
main .content_principal .principal_Populaires .populaires_item:last-of-type img {
  width: 56%;
}
main .activites {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  /* activites_item */
  /* wrap_activites */
}
main .activites .activites_item {
  width: 50%;
  margin-right: 2%;
  border-radius: 25px;
  box-shadow: 0 0 3px 3px rgba(138, 132, 132, 0.3);
}
main .activites .activites_item img {
  width: 100%;
  height: 504px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
main .activites .activites_item h3 {
  padding: 5%;
}
main .activites .wrap_activites {
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  margin-right: 2%;
}
main .activites .wrap_activites .activites_littleItem {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 3px 3px rgba(138, 132, 132, 0.3);
}
main .activites .wrap_activites .activites_littleItem img {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
main .activites .wrap_activites .activites_littleItem h3 {
  padding: 5%;
}
main .activites .wrap_activites .activites_littleItem:first-child {
  margin-bottom: 10%;
}
main .activites .wrap_activites .activites_littleItem:first-child img {
  height: 200px;
}
main .activites .wrap_activites .activites_littleItem:last-child img {
  height: 194px;
}
main .activites .wrap_activites:last-child {
  margin-right: 0;
}
main .activites .wrap_activites:last-child .activites_littleItem:first-child {
  margin-bottom: 10%;
}
main .activites .wrap_activites:last-child .activites_littleItem:first-child img {
  height: 200px;
}
main .activites .wrap_activites:last-child .activites_littleItem:last-child img {
  height: 200px;
}

/* main */