* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

$colorgrey: #f2f2f2;
$colorblue: #0065fc;

.header {
  width: 100%;
  padding: 2%;
  display: flex;

  .logo {
    width: 7%;
    margin-right: 60%;
  }
  nav {
    width: 40%;
    .menu {
      display: flex;
      justify-content: flex-end;
      .menu_item {
        padding-top: 8px;
        margin-right: 17%;

        a {
          color: $colorblue;
          font-size: 22px;
        }
        a:hover {
          padding-top: 30px;
          border-top: 2px solid #0065fc;
        }
      }
      .menu_item:last-of-type {
        margin-right: 0;
      }
    }
  }
}

main {
  width: 100%;
  padding: 2%;
  .main_title {
    width: 100%;
    padding: 2%;
    .title_principal {
      width: 100%;
    } /* title_principal */
    .sub_title {
      width: 100%;
      color: rgb(110, 110, 110);
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 1%;
    } /* sub_title */
    .сhercher {
      width: 30%;
      position: relative;
      margin-left: 1.5%;
      margin-bottom: 1.5%;
      i {
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: rgba(204, 200, 200, 0.3);
        padding: 10px 10px 10px 15px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        left: -34px;
        top: -0.5px;
      } /* i */
      input[type="text"] {
        width: 150px;
        height: 34.9px;
        border: 1px solid rgba(110, 110, 100, 0.3);
        border-right: none;
        border-left: none;

        outline: none;
      } /* input[type="text"] */
      input[type="text"]::placeholder {
        color: black;
        font-weight: bold;
        padding-left: 5px;
      } /* input[type="text"]::placeholder */

      input[type="text"]:focus::placeholder {
        color: transparent;
      } /* input[type="text"]:focus::placeholder */

      input[type="submit"] {
        position: absolute;
        width: 130px;
        height: 35px;
        background-color: $colorblue;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #fff;
        padding: 5px;
      } /* input[type="submit"] */
    } /* сhercher */
    .main_filtres {
      width: 100%;
      display: flex;
      margin-bottom: 1%;
      .filtres_txt {
        font-size: 18px;
        font-weight: bold;
        margin-right: 1%;
      } /* .filtres_txt */
      .filtres_item {
        position: relative;
        width: 12%;
        display: flex;
        margin-right: 1%;
        border: 1px solid rgba(110, 110, 100, 0.3);
        border-radius: 15px;
        border-left: none;
        i {
          width: 25px;
          height: 25px;
          background: rgb(119, 176, 241);
          border-radius: 50%;
          color: $colorblue;
          /* padding: 5px 2px 3px 4px; */
          font-size: 12px;
          cursor: pointer;

          transition: color 20s;
        } /* i */
        i:active {
          background: rgba(110, 110, 100, 0.3);
          color: rgba(241, 25, 25, 0.835);
          transition: color 0s;
        }

        .fa-money-bill-wave-alt {
          padding: 6px 3px 1px 4px;
        }
        .fa-male {
          padding: 6px 2px 1px 10px;
        }
        .fa-heart {
          padding: 6px 2px 1px 6px;
        }
        .fa-dog {
          padding: 6px 2px 1px 6px;
        }

        p {
          padding-top: 3px;
          padding-left: 25px;
        }
        .fa-dog + p {
          padding-left: 3px;
        }
      } /* .filtres_item */
      .filtres_item:active {
      }
    } /* .main_filtres */
    .chercher__info {
      display: flex;
      width: 100%;
      margin-bottom: 1%;
      i {
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-right: 1%;
        border: 1px solid rgba(110, 110, 100, 0.3);
        border-radius: 50%;
        text-align: center;
        color: $colorblue;
        padding-top: 3px;
      }
      p {
        color: rgb(102, 102, 100);
        font-weight: bold;
      }
    } /* .chercher__info */
  }
  .content_principal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1%;
    .principal_hebergement {
      width: 72%;
      background-color: #f2f2f2;
      padding: 1.5%;
      border-radius: 25px;
      h2 {
        width: 25%;
        margin-left: 2.8%;
        margin-bottom: 1.2%;
      }
      .info_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 2% 2% 2.9%;
        .hebergement_info {
          width: 24%;
          margin-right: 2%;
          border: 3px solid #fff;
          margin-bottom: 2%;
          border-radius: 25px;
          background-color: #fff;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

          img {
            width: 100%;
            height: 150px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
          }
          .hebergement_wrapTxt {
            width: 100%;
            padding: 2%;

            h3 {
              margin-bottom: 3%;
            }
            p {
              margin-bottom: 3%;
              a {
                span {
                  color: black;
                  font-weight: bold;
                }
              }
            }
            span {
              color: $colorblue;
              cursor: pointer;
            }
            .grey {
              color: $colorgrey;
            }
          }
        } /* .hebergement_info */
        .hebergement_info:active {
          box-shadow: none;
          top: 2px;
          position: relative;
        }
      } /* .info_wrap */
    } /* .principal_hebergement */
    .principal_Populaires {
      width: 25%;
      background-color: #f2f2f2;
      padding: 1.5%;
      border-radius: 25px;
      .wrap_titlePopulaire {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        .populaires_title {
          margin-right: 25%;
        }
        i {
          padding-top: 11px;
        }
      } /* .wrap_titlePopulaire */
      .wrap_populaireItems {
        .populaires_item {
          width: 100%;
          display: flex;
          margin-bottom: 13%;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          border-radius: 25px;

          img {
            width: 100%;
            height: 137px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border: 3px solid #fff;
          }

          .item_info {
            width: 100%;
            background-color: #fff;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 2%;
            h3 {
              margin-bottom: 3%;
            }
            p {
              margin-bottom: 3%;
              a {
                span {
                  color: black;
                  font-weight: bold;
                }
              }
            }
            span {
              color: $colorblue;
              cursor: pointer;
            }
            .grey {
              color: $colorgrey;
            }
          } /* item_info */
        } /* populaires_item */

        .populaires_item:active {
          box-shadow: none;
          position: relative;
          top: 2px;
        }
        .populaires_item:last-of-type {
          margin-bottom: 0;

          img {
            width: 100%;
          }
        }
      } /* .wrap_populaireItems */
    } /* .principal_Populaires */
  } /* .content_principal */
  .activites {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    .activites_item {
      width: 50%;
      margin-right: 2%;
      border-radius: 25px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 504px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
      }

      h3 {
        padding: 5%;
      }
    } /* activites_item */
    .activites_item:active {
      box-shadow: none;
      position: relative;
      top: 2px;
    }
    .wrap_activites {
      display: flex;
      width: 45%;
      flex-wrap: wrap;
      margin-right: 2%;
      .activites_littleItem {
        width: 100%;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        img {
          width: 100%;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
        }

        h3 {
          padding: 5%;
        }
      }
      .activites_littleItem:active {
        box-shadow: none;
        position: relative;
        top: 2px;
      }
      .activites_littleItem:first-child {
        margin-bottom: 10%;

        img {
          height: 200px;
        }
      }
      .activites_littleItem:last-child {
        img {
          height: 194px;
        }
      }
    } /* wrap_activites */
    .wrap_activites:last-child {
      margin-right: 0;
      .activites_littleItem:first-child {
        margin-bottom: 10%;

        img {
          height: 200px;
        }
      }
      .activites_littleItem:last-child {
        img {
          height: 200px;
        }
      }
    }
  } /* activites */
} /* main */
footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  padding: 2%;
  .aPropos,
  .nosHebergements,
  .assistance {
    display: flex;
    flex-direction: column;
    margin: 2% 20% 0 2%;
    h3 {
      padding-bottom: 9%;
    }
    a {
      padding-bottom: 9%;
    }
    a:last-of-type {
      padding-bottom: 0;
    }
  }
  .assistance {
    margin-right: 0;
    h3 {
      padding-bottom: 16%;
    }
    a {
      padding-bottom: 16%;
    }
    a:last-of-type {
      padding-bottom: 0;
    }
  }
} /* footer */

